
* {
    background-color: #3c3f41;
    padding: 0px;
    margin: 5px;
    border: 0px none #000;
    font-family: Lato;
    font-size: 12px;
    text-color: #fff;
}

*.MacOS {
    font-family: "System Font";
}

Frame {
}

Frame.root, Frame.nested {
    margin: 0px;
}

ResizeableFrame {
    padding: 3px;
}

Tab {
    border: 1px solid #4b4b4b;
    margin: 0px;
    padding: 3px;
}

Tab.tabTop:selected {
    border-bottom: 1px solid #4a7987;
}

Tab.tabLeft:selected {
    border-right: 1px solid #4a7987;
}

Tab:selected {
    background-color: #515658;
}
Tab:hover {
    background-color: #43494b;
}


Label, Button, ColourButton {
    expand-horizontal: true;
    expand-vertical: false;
}

Button, CheckBox, ColourButton {
    /*background-color: #4a7987; */
    /*border-radius: 3px;*/
    border-top: 1px solid #4b4b4b;
    border-left: 1px solid #4b4b4b;
    border-right: 1px solid #0F0F0F;
    border-bottom: 1px solid #0F0F0F;
    padding: 2px;
}

Button.highlight, ColourButton.highlight {
    background-color: #fff;
}

Button:selected, IconButton:selected, CheckBox:selected, ColourButton:selected {
    /*background-color: #4a7987;*/

    border-top: 1px solid #0F0F0F;
    border-left: 1px solid #0F0F0F;
    border-right: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
}

Button:hover, IconButton:hover, CheckBox:hover, ColourButton:hover {
    background-color: #4c4f51;
}

Button:active, IconButton:active, CheckBox:active, ColourButton:active {
    background-color: #4a7987;
}

TextInput, .dateInput {
    background-color: #45494a;
    border: 1px solid #646464;
    padding: 2px;
    /*font-family: Hack;*/
}

TextInput:active {
    border-color: #ff0;
}

.dateInput {
    expand-horizontal: false;
}

Scroller {
    border-top: 1px solid #0F0F0F;
    border-left: 1px solid #0F0F0F;
    border-right: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;

    padding: 0px;
    margin: 0px;
}

List {
    padding: 0px;
    margin: 0px;
}

ListItem {
    padding: 0px;
    margin: 0px;
}

ListItem:hover {
    background-color: #0ff;
}

ListItem:selected {
    background-color: #f0f;
}

ScrollBar {
    margin: 0px;
    background-color: #000;
    scrollbar-width: 8px;
    scrollbar-color: #818181;
    padding: 2px;
}

HSVWheel {
    background-color: #000;
}

.datePicker .dayButton {
}

